@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;

}

:root {
    --cor-titulo: #390000;
    --tag-social: #302651;
    --tag-large: #c5eae8;
    --tag-xadrez: #120702; /* Variável da cor do filtro */
    --tag-tricot: #542b2b;
    --tag-color: #ffd12a;
    --tag-puffy : #78005E;
    --tag-corset: #e389d1;
    --tag-slim: #4b7656;
    --tag-long: #124a50;
    --card: #FFECA4;
    

}

body {
    background-color: #f8f1d7 !important;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #201f1f !important;
}

body.dark h1#outono-chegou,
body.dark h2#outono-chegou,
body.dark h1#h1-tamanhos,
body.dark h1#h1-precos,
body.dark h1#h1-tags,
body.dark h1#revestindo,
body.dark h1#titulo-quem-somos {
    color: #BA6735;
    /* Cor para o modo escuro */
}

.titulo-1 {
    font-size: 5rem;
    color: var(--cor-titulo);
    font-weight: 500;

}

.titulo-2 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--cor-titulo);

}

.social {
    background-color: var(--tag-social);
}

.large {
    background-color: var(--tag-large);
}

.xadrez {
    background-color: var(--tag-xadrez);
}

.tricot {
    background-color: var(--tag-tricot);
}

.long {
    background-color: var(--tag-long);
}

.color {
    background-color: var(--tag-color);
}

.corset {
    background-color: var(--tag-corset);
}

.slim {
    background-color: var(--tag-slim);
}

.puffy {
    background-color: var(--tag-puffy);
}

.cabecalho {
    height: 120px;
    width: 100%;
}

.cabecalho-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    padding: 20px;
    background-color: #1C3C3A;
}

.cabecalho-inferior {
    display: flex;
    justify-content: center;
    height: 40%;
    background-color: #FFB800;
}

.logo img {
    height: 80px;
}

.container-search {
    position: relative;
}

.search {
    padding: 10px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    background-color: #FFECA4;
}

.lupa {
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 5px;

}

.lupa img {
    height: 25px;
}

.icones {
    display: flex;
    gap: 20px;
    font-size: 25px;
}

#temas {
    gap: 0px;
    font-size: 18px;
    margin-right: 5px;
}

.sacola {
    width: 400px;
    height: 310px;
    background-color: #285552; /*#999483;*/
    position: absolute;
    right: 5px;
    margin-top: 40px;
    visibility: hidden;
    transition: visibility 0.5s linear; 
    border-radius: 5px;
    transition: opacity 0.5s ease;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
}

#sacola{
    transition: opacity 0.5s ease;
}

.container-texto-sacola{
    margin-left: 40px;
    width: 80%;
}

#triangulo-sacola{
    position: absolute;
    margin-left: 240px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 52px;
    bottom: 254px;
}

.titulo-sacola{
    font-weight: 500;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFB800;
    color: #FFB800;
}

.container-sacola {
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #FFB800;
    padding-bottom: 7px;
    margin-left: 20px;
}

.imagem-sacola {
    width: 150px;
    height: 100%;
    margin-left: 0px;
}

.imagem-sacola img {
    width: 100%;
    height: 100%;
}

.texto-sacola {
    width: 200px;
    height: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: #FFB800;
}

.final-sacola{
    width: 100%;
    height: 100%;
    padding-left: 120px;
    padding-top: 10px;
    color:#FFB800 ;
}

.btn-sacola {
    height: 40px;
    width: 180px;
    color: #FFB800;
    background-color: #252525;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'prompt';
    font-weight: normal;
    cursor: pointer;
    margin-left: 80px;
    padding-top: 5px;
}

.perfil{
    width: 300px;
    height: 310px;
    background-color: #285552; /*#999483;*/
    position: absolute;
    margin-top: 40px;
    border-radius: 5px;
    font-family: 'poppins';
    right: 10px;
    margin-top: 40px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#triangulo-perfil{
    position: absolute;
    margin-left: 271px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 52px;
    bottom: 254px;
}

.container-texto-perfil{
    width: 90%;
    height: 80px;
    margin-top: 30px;
    text-align: center;
    margin-left: 15px;
    color:#FFB800 ;
}

.container-texto-perfil a {
    color: #000;
}

.btn-perfil {
    height: 50px;
    width: 90%;
    color: #FFB800;
    background-color: #252525;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'prompt';
    font-weight: normal;
    cursor: pointer;
    margin-left: 15px;
    padding-top: 5px;
    margin-top: 5px;
}

#btn-2{
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #FFB800;
}

.cabecalho-inferior ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    width: 20%;
    height: 100%;
    transition: 0.3s all;
    cursor: pointer;
}

li:hover {
    background-color: rgba(232, 166, 0, 0.501)
}

li a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}

.nav-icon {
    height: 30px;
}

.checkbox {
    opacity: 0;
    position: absolute;

}

.label {

    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.25s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
    margin: auto;
}

.outono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.titulo {
    text-align: center;
    font-family: 'Bebas Neue';

}

.container-card {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* background-color: purple; */
    margin-top: 70px;

}

.card-roupa {
    position: relative;
    height: 550px;
    width: 350px;
    background-color: var(--card);
    border-radius: 10px;
    font-family: 'prompt';
}

.img-card {
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 40%;
    width: 100%;
    padding: 5px;
}

.titulo-roupa {
    width: 100%;
    padding: 10px;
    font-weight: 100;
    font-size: 0.7rem;

}

.titulo-roupa h3 {
    font-size: 1.4rem;
}

.tags {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
}

.tag span{
    font-size: 16px;
    font-weight: 400;
}


.tamanho p {
    color: #1C3C3A;
    font-weight: 550;

}

.preco span {
    color: #A60404;
    font-weight: 700;
    font-size: 2rem;

}

.card-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-icons img {
    height: 20px;

}

.btn-garimpar {
    height: 80px;
    width: 250px;
    color: #FFB800;
    background-color: #1C3C3A;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'prompt';
    font-weight: 600;
    margin: 60px 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-garimpar:hover{
    background-color: #2f5a57;
}

.btn-garimpar img {
    height: 40px;
}

.brechos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 20%;
    background-color: #1C3C3A;
    font-family: "bebas neue";
}

.local{
    font-size: 4rem;
}


.header-section img{
 height: 200px;

}


.titulo-section {
    color: #FFB800;
    font-family: "bebas neue";
}

.icon-carrossel{
    padding: 30px;
    background-color: #FFB800;
    border-radius: 100%;
}

.container-carrossel {
    width: 1400px;
    height: 80%;
}

.container-card-destaque{
    width: 100%;
    background-color: red;

}

.carousel-item{
position: relative;
z-index: 1;
}

.teste {
    position: relative;
    height: 100%;
    background-color: red;
    height: 560px;
    object-fit: cover;

}

.selo-beneficiente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #FFB800;
    border-radius: 100%;
    position: absolute;
    right: -40px;
    top: -60px;
    transition: 0.2s all;
    cursor: pointer;

}

.selo-detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
    width:440px;
    border-radius: 100px;
    padding: 40px;
    
  
}

.detalhes{
    font-size: 0px;
    color: #fff;
    font-weight: 500;
    transition: 0.2s all;
}

.texto-visivel{
 font-size: 18px;
}

.btn-local{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
    top: 20px; /* Posição desejada no eixo Y */
    left: 20px; /* Posição desejada no eixo X */
    width: 900px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    background-color: #FFB800;
    z-index: 999; /* Certifique-se de que esteja acima da imagem */
    border-radius: 30px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    font-weight: 700;
}

.btn-visitar{
    position: absolute;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    top: 20px; /* Posição desejada no eixo Y */
    left: 20px; /* Posição desejada no eixo X */
    width: 300px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    background-color: #FFB800;
    z-index: 999; /* Certifique-se de que esteja acima da imagem */
    border-radius: 80px;
    top: 10%;
    left: 88%;
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    font-weight: 700;
    transition: 0.2s all;
    cursor: pointer;
}

.btn-visitar:hover{
    background-color: #bb8600;
    cursor: pointer;

}

.btn-visitar img{
    height: 60px;
}

footer{
    position: relative;
    width: 100%;
    height: 420px;
    background-color: #1c3c3a;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.conteudo-footer{
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
}

.copyright-footer{
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
}

.central-atendimento{
    position: relative;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-integrantes{
    position: relative;
    width: 35%;
    height: 100%;
}

.redes-sociais{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container-titulo-atendimento{
    position: relative;
    font-family: 'poppins';
    width: 100%;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    
}

.titulo-footer{
    margin-top: 10px;
    font-size: 21px;
    font-weight: 550;
    color: #ffb800;
}


.conteudo-atendimento{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;   
    margin-top: 5px;
    margin-left: 75px;
}

.imagem-atendimento{
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 105px;
}

#imagem-atendimento-1{
    margin-top: 0;
}

.texto-footer{
    color: #f8f1d7;
    font-family: 'poppins';
    padding-top: 7px;
    font-size: 17px;
}

#numero-footer{
    padding-top: 23px;
}

.integrantes{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.texto-integrantes{
    color: #f8f1d7;
    font-family: 'poppins';
    width: 150px;
    margin-left: 255px;
    margin-bottom: 3px;
    font-size: 18px;
    padding-top: 7px;  /* pendente alinhar com flex-wrap */
}

#imagem-copyright{
    width: 25px;
    height: 25px;
}

#container-titulo-redes{
    text-align: center;
    padding-top: 17px;
}

#titulo-redes-sociais{
    font-size: 23px;
}

.imagens-redes{
    width: 100%;
    height: 80px;
    margin-left: 60px;
}

.imagem-redes{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#img-1{
    margin-left: 110px;
}