@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;

}

:root {
    --cor-titulo: #390000;
    --tag-goth: #7F4999;
    --tag-large: #4CA29D;
    --tag-punk: #24FF00; /* Variável da cor do filtro */
    --tag-y2k: #00D1FF;
    --tag-lacoste: #1C6137;
    --tag-opium: #78005E;
    --tag-personalizado: #FF7A00;
    --tag-grunge: #A60404;
    --tag-witch: #5A7656;
    --tag-vintage: #553607;
    --tag-anime: #EEA7D1;
    --tag-ousada: #7F4999;
    --tag-inverno: #2ca7cc;
    --tag-anos90: #C1E800;
    --tag-divertido: #FF8139;
    --tag-outon: #A24C4C;
    --tag-time: #4B59D8;
    --tag-basquete: #FFB800;
    --card: #FFECA4;

}

body {
    background-color: #f8f1d7 !important;
}



.titulo-1 {
    font-size: 5rem;
    color: var(--cor-titulo);
    font-weight: 500;

}

.titulo-2 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--cor-titulo);

}

.goth {
    background-color: var(--tag-goth);
}

.large {
    background-color: var(--tag-large);
}

.punk {
    background-color: var(--tag-punk);
}

.y2k {
    background-color: var(--tag-y2k);
}

.lacoste {
    background-color: var(--tag-lacoste);
}

.opium {
    background-color: var(--tag-opium);
}

.personalizado {
    background-color: var(--tag-personalizado);
}

.grunge {
    background-color: var(--tag-grunge);
}

.vintage {
    background-color: var(--tag-vintage);
}

.witch {
    background-color: var(--tag-witch);
}

.anime {
    background-color: var(--tag-anime);
}

.ousada {
    background-color: var(--tag-ousada);
}

.inverno {
    background-color: var(--tag-inverno);
}

.anos90 {
    background-color: var(--tag-anos90);
}
.outon {
    background-color: var(--tag-outon);
}

.divertido {
    background-color: var(--tag-divertido);
}

.time {
    background-color: var(--tag-time);
}

.basquete {
    background-color: var(--tag-basquete);
}

.cabecalho {
    height: 120px;
    width: 100%;
}

.cabecalho-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    padding: 20px;
    background-color: #1C3C3A;
}

.cabecalho-inferior {
    display: flex;
    justify-content: center;
    height: 40%;
    background-color: #FFB800;
}

.logo img {
    height: 80px;
}

.container-search {
    position: relative;
}

.search {
    padding: 10px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    background-color: #FFECA4;
}

.lupa {
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 5px;

}

.lupa img {
    height: 25px;
}

.icones {
    display: flex;
    gap: 20px;
    font-size: 25px;
}

.cabecalho-inferior ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    width: 20%;
    height: 100%;
    transition: 0.3s all;
    cursor: pointer;
}

li:hover {
    background-color: rgb(220, 158, 0)
}

li a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}

.nav-icon {
    height: 30px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
    margin: auto;
}

.outono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.titulo {
    text-align: center;
    font-family: 'Bebas Neue';
}

.container-card {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* background-color: purple; */
    margin-top: 30px;

}

.card-roupa {
    position: relative;
    height: 580px;
    width: 350px;
    background-color: var(--card);
    border-radius: 10px;
    font-family: 'prompt';
}

.img-card {
    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 40%;
    width: 100%;
    padding: 5px;
}

.titulo-roupa {
    width: 100%;
    padding: 10px;
    font-size: 0.7rem;

}

.titulo-roupa h3 {

    font-weight: 500;
    font-size: 1.4rem;
}

.tags {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
}

.tag span{
    font-size: 16px;
    font-weight: 400;
}


.tamanho p {
    color: #1C3C3A;
    font-weight: 550;
}

.preco span {
    color: #A60404;
    font-weight: 650;
    font-size: 2.3rem;
    font-family: 'Poppins';
}

.card-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-icons img {
    height: 30px;
}

.btn-garimpar {
    height: 80px;
    width: 250px;
    color: #FFB800;
    background-color: #1C3C3A;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'prompt';
    font-weight: 600;
    margin: 60px 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-garimpar:hover{
    background-color: #2f5a57;
}

.btn-garimpar img {
    height: 40px;
}

.brechos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 20%;
    background-color: #1C3C3A;
    font-family: "bebas neue";
}

.local{
    font-size: 4rem;
}


.header-section img{
 height: 200px;

}


.titulo-section {
    color: #FFB800;
    font-family: "bebas neue";
}

.icon-carrossel{
    padding: 30px;
    background-color: #FFB800;
    border-radius: 100%;
}

.container-carrossel {
    width: 1400px;
    height: 80%;
}

.container-card-destaque{
    width: 100%;
    background-color: red;

}

.carousel-item{
position: relative;
z-index: 1;
}

.teste {
    position: relative;
    height: 100%;
    background-color: red;
    height: 560px;
    object-fit: cover;

}

.selo-beneficiente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #FFB800;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -20px;
    transition: 0.2s all;
    cursor: pointer;
}

.selo-beneficiente img{
    height: 50px;
}

.selo-detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
    width:380px;
    border-radius: 100px;
    padding: 40px;
}

.detalhes{
    font-size: 0px;
    color: #fff;
    font-weight: 500;
    transition: 0.2s all;
}

.texto-visivel{
 font-size: 15px;
 margin-top: 10px;
}

.btn-local{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
    top: 20px; /* Posição desejada no eixo Y */
    left: 20px; /* Posição desejada no eixo X */
    width: 800px; /* Largura desejada */
    height: 90px; /* Altura desejada */
    background-color: #ffb700ad;
    color: var(--cor-titulo);
    z-index: 999; /* Certifique-se de que esteja acima da imagem */
    border-radius: 30px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; 
    font-weight: 700;
}

.btn-visitar{
    position: absolute;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    top: 20px; /* Posição desejada no eixo Y */
    left: 20px; /* Posição desejada no eixo X */
    width: 300px; /* Largura desejada */
    height: 100px; /* Altura desejada */
    background-color: #FFB800;
    z-index: 999; /* Certifique-se de que esteja acima da imagem */
    border-radius: 80px;
    top: 10%;
    left: 88%;
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    font-weight: 700;
    transition: 0.2s all;
    cursor: pointer;
}

.btn-visitar:hover{
    background-color: #bb8600;
    cursor: pointer;

}

.btn-visitar img{
    height: 60px;
}

.marcas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
}
.marcas img{
    height: 70px;

    /* background-color: #FFB800; */
}

.icons-marcas img{
height: 200px;
}
